<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="head-button col-md-12">
          <button type="button" class="btn btn-primary btn-with-icon" (click)="fileInput.click()">
            <i class="fas fa-cloud-upload-alt"></i>
            <span>New Version</span>
          </button>
          <input
            #fileInput
            type="file"
            [multiple]="false"
            class="upload_input"
            (change)="uploadFile( fileInput.files ) ; fileInput.value = null;"
          />
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="flex-centered col-md-12">
          <ngx-datatable class="cosmic"
                         (activate)="onActivate($event)"
                         [columnMode]="'flex'"
                         [headerHeight]="40"
                         [footerHeight]="50"
                         [rowHeight]="'auto'"
                         [rows]="rows">
            <ngx-datatable-column name="App name" prop="appName" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="App type" prop="appType" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{appTypes[value]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="App bundle" prop="appBundle" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Remark" prop="remark" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="App version" prop="appVersion" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Download count " prop="downloadCount" [flexGrow]="1" [summaryFunc]="downlaodSummary">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Delete" [flexGrow]="1" [summaryFunc]="downlaodSummary">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button  nbButton [size]="'small'" [status]="'info'" outline (click)="deleteApp(row)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  Delete
                </button>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
